/* Global CSS */

html {
box-sizing: border-box;
margin: 10px;
scroll-behavior: smooth;
}

a {
    color: black !important;
    font-size: 1.3em !important;
}

h2 {
    color: black;
    border-radius: 10px;
    font-size: 2em;
    background-color: grey;
}

.avatar, img {
    filter: grayscale(100%);
}


/* Heading and Nav Bar CSS */

h1 {
    font-size: 2.5em !important;
    font-weight: bold;
    border-radius: 10px;
    color: black !important;
    margin-left: -30px !important;
    padding-left: 50px !important;
}

.container-fluid ul {
    gap: 20px;
}

.navbar-brand {
    background-color: grey;
    padding: 10px;
    margin: 10px 0;
}

.nav-link {
    margin-bottom: 10px;
}


/* Jumbotron CSS */

.jumbotron {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 400px;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    color: black;
    padding: 10px;
    margin: 0 -15px 0 -15px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../images/dr.robotnik.png');
    background-size: cover;
    align-self: center;
    position: relative;
    left: 30px;
}

.jumbotron-heading {
    text-align: right;
    align-items: flex-end;
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
}

/* About and Skills CSS */

.subheading {
    margin-left: -30px !important;
    padding-left: 50px !important;
}

code {
    font-size: 1em;
    color: black;
}

.border-grey {
    border: solid grey 5px;
    border-radius: 10px;
}

/* Changes on hover CSS */

a:hover {
    background-color: grey !important;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s ease;
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737;
}

.avatar:hover {
    filter: grayscale(0%);
    cursor: crosshair;
}

.card:hover > img {
    filter: grayscale(0%);
}

.card-placeholder {
cursor: not-allowed;
}

.btn-placeholder {
cursor: not-allowed;
}

/* Media Query for smaller screen sizes */

@media screen and (max-width: 675px) and (min-width: 300px) {

.jumbotron {
    flex-direction: column;
    align-items: center;
}

.avatar {
    left: 0px;
    top: 50px;
}

.ghost {
    display: none;
}

}